@import "base.css";
@import "docsearch.css";
@import "prism.css";
@import "progress.css";
@import "fonts.css";
@import "utilties.css";

@tailwind components;

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

.gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div::selection, h1::selection, p::selection {
    background: #79ffe1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cfb5e8;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

